#item, #quantity {
  height: 25px;
  width: 200px;
}
/* Animation Code*/
@keyframes backgroundChange {
  from {background-color:  #994d00;}
  to {background-color: brown;}
}
#Add {
  width: 125px;
  height: 30px;
  background-color: #994d00;
  animation-name: backgroundChange;
  animation-duration: 4s;
  color: white;
  font-size: 16px;
  box-shadow: 2px 2px grey;
}

@media (max-width: 800px) {
  #item, #quantity {width:120px;}
  th {font-size: 20px;}
}
